.lqswlx {
  position: relative;
  width: 200px;
}

.lqswlx__content__wrapper {
  position: absolute;
  left: 0;
  left: calc(-50vw + 300px);
  top: 100%;
  opacity: 0;
  max-height: 0;
  width: 600px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50px);
  transition: 200ms ease;
}

.lqswlx__content__wrapper:hover,
.lqswlx__btn:hover~.lqswlx__content__wrapper {
  opacity: 1;
  transform: translateY(0px);
  max-height: 700px;
  overflow: visible;
  pointer-events: auto;
  user-select: auto;
}

.lqswlx__logo {
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #dee4e8;
  background-color: #ffffff;
  border-radius: 21px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  z-index: 10;
}

.lqswlx__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
}


.lqswlx:hover .lqswlx__btn {
  opacity: 0.7;
}

.lqswlx__btn-content {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  padding: 12px 12px 12px 16px;
  margin-left: -10px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dee4e8;
}

.lqswlx__lab {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 0.3em;
}

.lqswlx__tot {
  font-size: 1em;
  margin-left: 0.4em;
  color: #727f89;
}

.lqswlx__value {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: -.05em;
}

.lqswlx__group table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  font-weight: 400;
}


.lqswlx__group td {
  padding: 10px 0;
}

.lqswlx__group td:nth-child(1) {
  font-weight: 500;
  width: 45%;
  color: var(--text);
}


.lqswlx__group td:nth-child(2) {
  color: #279eff;
  width: 25%;
}


.lqswlx__group td:nth-child(3) {
  color: var(--th-text);
  width: 30%;
}

.lqswlx__group td:nth-child(2),
.lqswlx__group td:nth-child(3) {
  text-align: left;
}

.lqswlx__content {
  max-width: 600px;
  padding: 10px 20px 20px;
  border: 1px solid #e2e9ee;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 90;
}

.lqswlx__title {
  margin: 0.6em 0 0.6em;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text);
}