html,
body {
  --text: #424546;
  --sec-text: #353639;
  --th-text: #97999d;
  --background: #f8fafc;
  --hover: #e3e7ea;
  --background-contrast: #fff;
  --background-contrast-2: #fafcfe;
  --main-border: 1px solid hsl(206, 9%, 85%);
  --sec-border: 1px solid #caced3;
  --thr-border: 1px solid #eceff3;
  --scrollbar-color: #dde0e1;
  --scrollbar-color-ac: #010203;
  --shadow-color-1: #4a505f;
}


@keyframes init {
  0% {
    opacity: 0;
    /* transform: translateY(10px); */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.qfixgw {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}

/* QUICKVIEW  */


.qfixgw>* {
  box-sizing: border-box;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}

.quickviewpd_gw__dl>div {
  display: flex;
  align-items: center;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}

.qgw {
  padding: 10px 10px 5px;
  border: var(--main-border);
}

.qgw__dl>div {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-size: min(14px, 1rem);
}

.qgw__dt {
  display: block;
  margin-right: 10px;
  font-weight: 500;
}

.qgw__dd {
  color: var(--shadow-color-1);
}

.qgw__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  line-height: 120%;
  margin: 12px 0 0;
}

.qgw__nav a {
  display: block;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  color: rgba(255, 128, 0) !important;
  background-color: rgba(255, 128, 0, 0.3);
  border: 1px solid rgba(255, 128, 0, 0.3);
  text-decoration: none;
  border-radius: 5px;
  transition: 100ms ease;
}

.qgw__nav a:hover {
  color: #fff;
  background-color: rgba(255, 128, 0, 0.6);
}

/* QUICKVIEW END */

/* LQS */

.lqswlx {
  position: relative;
  width: 200px;
  z-index: 100;
}

.lqswlx__content__wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  max-height: 0;
  width: 600px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50px);
  transition: 200ms ease;
}

.lqswlx__content__wrapper:hover,
.lqswlx__btn:hover~.lqswlx__content__wrapper {
  opacity: 1;
  transform: translateY(0px);
  max-height: 700px;
  overflow: visible;
  pointer-events: auto;
  user-select: auto;
}

.lqswlx__logo {
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #dee4e8;
  background-color: #ffffff;
  border-radius: 21px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  z-index: 10;
}

.lqswlx__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
}


.lqswlx:hover .lqswlx__btn {
  opacity: 0.7;
}

.lqswlx__btn-content {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  padding: 12px 12px 12px 16px;
  margin-left: -10px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dee4e8;
}

.lqswlx__lab {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 0.3em;
}

.lqswlx__tot {
  font-size: 1em;
  margin-left: 0.4em;
  color: #727f89;
}

.lqswlx__value {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: -.05em;
}

.lqswlx__group table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  font-weight: 400;
}


.lqswlx__group td {
  padding: 10px 0;
}

.lqswlx__group td:nth-child(1) {
  font-weight: 500;
  width: 45%;
  color: var(--text);
}


.lqswlx__group td:nth-child(2) {
  color: #279eff;
  width: 25%;
}


.lqswlx__group td:nth-child(3) {
  color: var(--th-text);
  width: 30%;
}

.lqswlx__group td:nth-child(2),
.lqswlx__group td:nth-child(3) {
  text-align: left;
}

.lqswlx__content {
  max-width: 600px;
  padding: 10px 20px 20px;
  border: 1px solid #e2e9ee;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 90;
  background-color: #fff;
}

.lqswlx__title {
  margin: 0.6em 0 0.6em;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text);
}

/* LQS END  */