@keyframes init {
  0% {
    opacity: 0;
    /* transform: translateY(10px); */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}