html,
body {
  --text: #424546;
  --sec-text: #353639;
  --th-text: #97999d;
  --background: #f8fafc;
  --hover: #e3e7ea;
  --background-contrast: #fff;
  --background-contrast-2: #fafcfe;
  --main-border: 1px solid hsl(206, 9%, 85%);
  --sec-border: 1px solid #caced3;
  --thr-border: 1px solid #eceff3;
  --scrollbar-color: #dde0e1;
  --scrollbar-color-ac: #010203;
  --shadow-color-1: #4a505f;
}


@keyframes init {
  0% {
    opacity: 0;
    /* transform: translateY(10px); */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.qfixgw {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 150%;
}



/* ----------------------- checkbox styles ----------------------- */
.ch_hp,
.ch_ip {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0 0 0 33px;
  margin: 0 0 11px 10px;
  min-height: 16px;

  vertical-align: middle;
  user-select: none;
  pointer-events: contain;
  font-size: 0.78rem;
  line-height: 1rem;
  cursor: pointer;
}

.ch_ip__long {
  margin: 0 5px 7px 10px;
}

.ch_ip__long .ch_sp {
  top: 5px;
}

/* Hide the browser's default checkbox */
.ch_hp input,
.ch_ip input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-top: -1px;
}

/* Create a custom checkbox */
.ch_sp {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 27px;
  background-color: transparent;
  border: 1px solid #8a8d92;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 110ms ease;
}

/* When the checkbox is checked, add a blue background */
.ch_hp input:checked~.ch_sp,
.ch_ip input:checked~.ch_sp {
  background-color: #228ad7;
  border-color: #197dc9;
}

.ch_hp input:checked:hover~.ch_sp,
.ch_ip input:checked:hover~.ch_sp {
  background-color: #2076b8;
  border-color: #197dc9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ch_sp:after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  background-color: #8a8d92;
  border-radius: 50%;
  transition: left 110ms ease, width 110ms ease;
}

/* Move the checkmark when checked */
.ch_ip input:checked~.ch_sp:after {
  left: 12px;
  background-color: #fff;
}

.ch_ip input.is_any_state:checked~.ch_sp {
  background-color: #228ad7;
  border: 1px solid #197dc9;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 110ms ease;
}

.ch_ip input.is_any_state~.ch_sp:after {
  background-color: #ffffff;
  left: 10px;
  width: 5px;
  border-radius: 4px;
}

.ch_ip input.is_any_state__disable~.ch_sp:after {
  background-color: #8a8d92;
  left: 1px;
  width: 12px;
  border-radius: 50%;
}

.ch_hp {
  margin: 0 12px 8px 10px;
  padding: 5px 5px 5px 21px;
}

.ch_hp .ch_sp {
  top: 5px;
  top: 4.5px;
  width: 16px;
}

.ch_hp .ch_sp:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  opacity: 0;
}

.ch_hp input:checked~.ch_sp:after {
  opacity: 1;
  background-color: #fff;
}

.ch_hp input {
  margin-right: 5px;
}

/* ----------------------- checkbox styles end ----------------------- */

/* QUICKVIEW  */


.qfixgw>* {
  box-sizing: border-box;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}

.quickviewpd_gw__dl>div {
  display: flex;
  align-items: center;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}

.qgw {
  padding: 10px 10px 5px;
  border: var(--main-border);
}

.qgw__dl>div {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-size: min(14px, 1rem);
}

.qgw__dt {
  display: block;
  margin-right: 10px;
  font-weight: 500;
}

.qgw__dd {
  color: var(--shadow-color-1);
}

.qgw__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  line-height: 120%;
  margin: 12px 0 0;
}

.qgw__nav a {
  display: block;
  padding: 2px 5px;
  margin: 0 5px 5px 0;
  color: rgba(255, 128, 0) !important;
  background-color: rgba(255, 128, 0, 0.3);
  border: 1px solid rgba(255, 128, 0, 0.3);
  text-decoration: none;
  border-radius: 5px;
  transition: 100ms ease;
}

.qgw__nav a:hover {
  color: #fff;
  background-color: rgba(255, 128, 0, 0.6);
}

/* QUICKVIEW END */

/* LQS */

.lqswlx {
  position: relative;
  width: 200px;
  z-index: 100;
}

.lqswlx__content__wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
  max-height: 0;
  width: 600px;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  transform: translateY(-50px);
  transition: 200ms ease;
}

.lqswlx__content__wrapper:hover,
.lqswlx__btn:hover~.lqswlx__content__wrapper {
  opacity: 1;
  transform: translateY(0px);
  max-height: 700px;
  overflow: visible;
  pointer-events: auto;
  user-select: auto;
}

.lqswlx__logo {
  width: 60px;
  height: 60px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #dee4e8;
  background-color: #ffffff;
  border-radius: 21px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  z-index: 10;
}

.lqswlx__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
}


.lqswlx:hover .lqswlx__btn {
  opacity: 0.7;
}

.lqswlx__btn-content {
  display: flex;
  align-items: flex-end;
  background-color: #fff;
  padding: 12px 12px 12px 16px;
  margin-left: -10px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #dee4e8;
}

.lqswlx__lab {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 0.3em;
}

.lqswlx__tot {
  font-size: 1em;
  margin-left: 0.4em;
  color: #727f89;
}

.lqswlx__value {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: -.05em;
}

.lqswlx__group table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  font-weight: 400;
}


.lqswlx__group td {
  padding: 10px 0;
}

.lqswlx__group td:nth-child(1) {
  font-weight: 500;
  width: 45%;
  color: var(--text);
}


.lqswlx__group td:nth-child(2) {
  color: #279eff;
  width: 25%;
}


.lqswlx__group td:nth-child(3) {
  color: var(--th-text);
  width: 30%;
}

.lqswlx__group td:nth-child(2),
.lqswlx__group td:nth-child(3) {
  text-align: left;
}

.lqswlx__content {
  max-width: 600px;
  padding: 10px 20px 20px;
  border: 1px solid #e2e9ee;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 90;
  background-color: #fff;
}

.lqswlx__title {
  margin: 0.6em 0 0.6em;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text);
}

/* LQS END  */


/* STOCK STATUS  */

.stwsl {
  max-width: 300px;
  padding: 10px 10px 5px;
  border: var(--main-border);
}

.stwsl__header,
.stwsl__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stwsl .ch_ip {
  margin: 0;
  padding: 0 28px 0 0;
}

.stwsl__header {
  padding: 0 0 10px;
  font-weight: 600;
}

.stwsl__item>div {
  width: 33%;
  flex: 1 0 33%;
}

.stwsl__item {
  padding: 5px 0;
  font-size: 0.86rem;
}

.stwsl__item>div:nth-child(1) {
  text-align: left;

}

.stwsl__item>div:nth-child(2) {
  color: var(--th-text);
  text-align: center;
}

.stwsl__item>div:nth-child(3) {
  text-align: right;
  color: #279eff;

}

.stwsl__logo {
  height: 1.5em;
  width: 1.5em;
}

.stwsl__title {
  flex: 1;
  padding: 0 10px;
  font-weight: 500;
  font-size: 0.9rem;
}

/* STOCK STATUS END */