html,
body {
  --text: #424546;
  --sec-text: #353639;
  --th-text: #97999d;
  --background: #f8fafc;
  --hover: #e3e7ea;
  --background-contrast: #fff;
  --background-contrast-2: #fafcfe;
  --main-border: 1px solid hsl(206, 9%, 85%);
  --sec-border: 1px solid #caced3;
  --thr-border: 1px solid #eceff3;
  --scrollbar-color: #dde0e1;
  --scrollbar-color-ac: #010203;
  --shadow-color-1: #4a505f;
  animation: none !important;
  transition: none !important;
}


body .a-size-large {
  font-size: 21px !important;
  line-height: 30px !important;
}

.qfixgw {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 120%;
}

.a-section {
  margin-bottom: 0 !important;
}


[data-component-type="s-messaging-widget-results-header"] .a-size-base.a-color-secondary.a-text-normal {
  width: calc(.75 * (100vw - 28px));
}

[data-component-type="s-messaging-widget-results-header"] {
  display: flex !important;
  align-items: center !important;
}

@media (max-width: 820px) {
  body .rush-component[data-component-type="s-messaging-widget-results-header"] {
    margin-bottom: 3rem !important;
  }
}

/* .puisg-row>.puisg-col:nth-child(2) {
  margin-top: -5x;
} */


/* ----------------------- checkbox styles ----------------------- */
.ch_hp,
.ch_ip {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 0 0 0 33px;
  margin: 0 0 11px 10px;
  min-height: 16px;

  vertical-align: middle;
  user-select: none;
  pointer-events: contain;
  font-size: 0.78rem;
  line-height: 1rem;
  cursor: pointer;
}

.ch_ip__long {
  margin: 0 5px 7px 10px;
}

.ch_ip__long .ch_sp {
  top: 5px;
}

/* Hide the browser's default checkbox */
.ch_hp input,
.ch_ip input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-top: -1px;
}

/* Create a custom checkbox */
.ch_sp {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 27px;
  background-color: transparent;
  border: 1px solid #989ba0;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 110ms ease;
}

/* When the checkbox is checked, add a blue background */
.ch_hp input:checked~.ch_sp,
.ch_ip input:checked~.ch_sp {
  background-color: #228ad7;
  border-color: #197dc9;
}

.ch_hp input:checked:hover~.ch_sp,
.ch_ip input:checked:hover~.ch_sp {
  background-color: #2076b8;
  border-color: #197dc9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.ch_sp:after {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  height: calc(100% - 2px);
  background-color: #989ba0;
  border-radius: 50%;
  transition: left 110ms ease, width 110ms ease;
}

/* Move the checkmark when checked */
.ch_ip input:checked~.ch_sp:after {
  left: 12px;
  background-color: #fff;
}

.ch_ip input.is_any_state:checked~.ch_sp {
  background-color: #228ad7;
  border: 1px solid #197dc9;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 110ms ease;
}

.ch_ip input.is_any_state~.ch_sp:after {
  background-color: #ffffff;
  left: 10px;
  width: 5px;
  border-radius: 4px;
}

.ch_ip input.is_any_state__disable~.ch_sp:after {
  background-color: #989ba0;
  left: 1px;
  width: 12px;
  border-radius: 50%;
}

.ch_hp {
  margin: 0 12px 8px 10px;
  padding: 5px 5px 5px 21px;
}

.ch_hp .ch_sp {
  top: 5px;
  top: 4.5px;
  width: 16px;
}

.ch_hp .ch_sp:after {
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  opacity: 0;
}

.ch_hp input:checked~.ch_sp:after {
  opacity: 1;
  background-color: #fff;
}

.ch_hp input {
  margin-right: 5px;
}

/* ----------------------- checkbox styles end ----------------------- */

/* QUICKVIEW  */


.qfixgw>* {
  box-sizing: border-box;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}

.quickviewpd_gw__dl>div {
  display: flex;
  align-items: center;
}

.appear_anim {
  animation: init 0ms ease both;
  background-color: rgb(222, 225, 231);
}



.qgw {
  position: relative;
  min-height: 118px;
  padding: 0 5px;
  border-top: 1px dashed #e8e4e4;
  margin-bottom: -10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: row;
  opacity: 0.4;
  transition: opacity 150ms ease;
}

.qgw:hover {
  opacity: 1;
  transition: opacity 150ms ease 20ms;
}

.qgw__dl {
  flex: 1;
}

.qgw__dl>div {
  line-height: 150%;
  font-size: 12px !important;
  font-size: max(11px, 0.7rem) !important;
}

.qgw__dt {
  display: inline;
  margin-right: 10px;
  font-weight: 500;
}

.qgw__nav {
  position: absolute;
  right: 5px;
  top: 0;
}

.qgw__dd {
  display: inline;
  color: var(--shadow-color-1);
  overflow: scroll;
}

.qgw__nav {
  flex: 0 0 45%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 0.78rem;
  line-height: 120%;
  margin: 5px 0 0;
}

.qgw__nav a {
  display: block;
  margin: 0 0 3px 3px;
  padding: 1px 5px;
  color: rgba(255, 128, 0) !important;
  background-color: rgba(255, 128, 0, 0.3);
  border: 1px solid rgba(255, 128, 0, 0.3);
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.82rem;
  border-radius: 5px;
  transition: 50ms ease!important;

  padding: 1px 4px;
  margin: 0px 0px 4px 4px;
  border-radius: 4px;
}

.qgw__nav a:hover {
  color: rgba(255, 128, 0) !important;
  background-color: rgba(255, 128, 0, 0.5);
}

.qgw__label {
  margin-left: 4px;
}

.sg-col-12-of-16 .qgw {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;
  max-width: 280px;
  height: 132px;
  background: #fff;
  border-left: 1px dashed #e8e4e4;
}

.sg-col-4-of-16 .qgw {
  width: 100%;
  position: relative;
  border-left: none;
  height: 132px;
  margin-top: 1px;
  padding-top: 1px;
  background-color: #fff;
}

.qgw__loader {
  height: 100%;
  display: inline-block;
}

.qgw__loader img {
  height: 15px;
}

.qgw__rttot {
  color: #788390;
  margin-left: 0.2em;
}

body .puisg-col-inner .puisg-row {
  overflow: visible!important;
}

body .sg-col-12-of-16 [data-cy="product-details-recipe"] {
  margin-top: -14px!important;
  padding: 0 8px 0 0!important;
}

html body .sg-col-12-of-16 [data-cy="product-details-recipe"] > *,
html body .sg-col-12-of-16 [data-cy="product-details-recipe"] a,
html body .sg-col-12-of-16 [data-cy="product-details-recipe"] span,
html body .sg-col-12-of-16 [data-cy="product-details-recipe"] .a-size-base {
  font-size: 11px!important;
  line-height: 120%!important;
}

@media only screen and (min-width: 1400px) {
  html body .sg-col-12-of-16 [data-cy="product-details-recipe"] > *,
  html body .sg-col-12-of-16 [data-cy="product-details-recipe"] a,
  html body .sg-col-12-of-16 [data-cy="product-details-recipe"] span,
  html body .sg-col-12-of-16 [data-cy="product-details-recipe"] .a-size-base {
    font-size: 14px!important;
    line-height: 120%!important;
  }
}


.sg-col-12-of-16 .qgw .qgw__nav {
  top: -1px;
}

.sg-col-4-of-16 .qgw .qgw__nav {
  top: 0;
}

.sg-col-12-of-16[data-component-type="s-search-result"] {
  position: relative;
}

.qgw__group {
  display: flex;
}

.qgw__group>div {
  margin-right: 12px;
  color: gray;
  margin-top: 2px;
}
.qgw__group>div:nth-last-child(1) {
  margin-right: 0;
}

.qgw__group .qgw__dt {
  margin-right: 4px;
}


/* QUICKVIEW END */

/* LQS */

.lqswlx {
  position: relative;
  width: min-content;
  margin-right: auto;
  z-index: 100;
  font-size: 15px;
  line-height: 100%;
}

.lqswlx__content__wrapper {
  position: absolute;
  left: 0;
  left: calc(50% - 300px);
  top: 100%;
  opacity: 0;
  max-height: 0;
  width: 600px;
  pointer-events: none;
  user-select: none;
  transform: translateY(-30px);
  transition: 150ms ease 200ms;
}

.lqswlx__content__wrapper:hover,
.lqswlx__btn:hover~.lqswlx__content__wrapper {
  opacity: 1;
  transform: translateY(0px);
  max-height: 700px;
  overflow: visible;
  pointer-events: auto;
  user-select: auto;
}

.lqswlx__logo {
  width: 40px;
  height: 40px;
  margin: 0;
  overflow: hidden;
  border: 1px solid #dee4e8;
  background-color: #ffffff;
  border-radius: 14px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px;
  z-index: 10;
  box-shadow: 0 1px 2px #eee;
}

.lqswlx__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin: -10px 0 0 0;
  font-size: 14px;
  font-size: 12.5px;
  transition: opacity 200ms ease 20ms;
}


.lqswlx:hover .lqswlx__btn {
  opacity: 0.7;
}

.lqswlx__btn-content {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 7px 5px 7px 12px;
  margin-left: -10px;
  border-radius: 0 8px 8px 0;
  border: 1px solid #eee;
  white-space: nowrap !important;
}

.lqswlx__tot {
  color: #727f89;
  margin-bottom: -0.5px;
}

.lqswlx__value {
  display: block;
  min-width: 1.5em;
  font-weight: 400;
  text-align: center;
}

.lqswlx__value,
.lqswlx__tot  {
  font-size: 0.9em; 
  line-height: 100%;
}

.lqswlx__group {
  padding: 8px 0 6px;
  border-bottom: 1px dashed #eee;
}

.lqswlx__group:nth-child(1) {
  padding: 0 0 6px;
}

.lqswlx__group a {
  margin-left: 0.4em;
  font-size: 0.9em;
}

.lqswlx__group a.lb {
  display: block;
  margin: 0;
}


.lqswlx__group table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.74em;
  font-weight: 400;
}


.lqswlx__group td {
  padding: 0 0 8px;
}

.lqswlx__group td > span {
  display: inline-block;
  min-height: 30px;
}


.lqswlx__group td:nth-child(1) {
  font-weight: 500;
  width: 30%;
  color: var(--text);
}


.lqswlx__group td:nth-child(2) {
  color: #279eff;
  width: 25%;
}


.lqswlx__group td:nth-child(3) {
  color: var(--th-text);
  width: 35%;
}

.lqswlx__group td:nth-child(3) span {
  margin-top: -10px;
}



.lqswlx__content {
  max-width: 600px;
  padding: 10px 14px 8px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 90;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 2px, rgba(0, 0, 0, 0.04) 0px 2px 4px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 8px 16px, rgba(0, 0, 0, 0.04) 0px 16px 32px, rgba(0, 0, 0, 0.04) 0px 32px 64px
}

.lqswlx__title {
  margin: 0 0 0.8em;
  padding: 0;
  font-size: 1em;
  line-height: 140%;
  font-weight: 600;
  color: var(--text);
}

/* LQS END  */


/* STOCK STATUS  */

.stwsl {
  max-width: 300px;
  padding: 0;
  margin: 20px 0 10px;
  border: var(--main-border);
  border-radius: 10px;

}

.stwsl__header,
.stwsl__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stwsl__content {
  padding: 5px 10px;
}

.stwsl .ch_ip {
  margin: 0;
  padding: 0 22px 0 0;
  left: -1px;
}

.stwsl .ch_sp {
  height: 15px;
}

body .stwsl .ch_sp::after {
  height: calc(100% - 2px);
}

.stwsl__header {
  padding: 7px 0px 7px 8px;
  font-weight: 600;
  border-bottom: var(--main-border)
}

.stwsl__item>div {
  width: 33%;
  flex: 1 0 33%;
}

.stwsl__item {
  padding: 5px 0;
  font-size: 0.8rem;
}

.stwsl__item>div:nth-child(1) {
  text-align: left;

}

.stwsl__item>div:nth-child(2) {
  color: var(--th-text);
  text-align: center;
}

.stwsl__item>div:nth-child(3) {
  text-align: right;
  color: #279eff;

}

.stwsl__logo {
  height: 1.5em;
  width: 1.5em;
}

.stwsl__title {
  flex: 1;
  padding: 0 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

/* STOCK STATUS END */

/* KEYWORDS BTN */

[data-component-type="s-messaging-widget-results-header"] {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

[data-component-type="s-messaging-widget-results-header"] .a-size-base.a-color-secondary.a-text-normal {
  position: absolute;
  margin-top: 5px;
}

.keywordsgws__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.8rem;
  padding: 3px 4px;
  padding: 3px 3.5px;
  cursor: pointer;
  z-index: 100;
  font-weight: 400;
  font-size: 0.66rem;
  position: relative;
  color: #232425;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  transition: opacity 200ms ease 20ms;

}

.keywordsgws__btn:hover {
  opacity: 0.7;
}

.keywordsgws__logo {
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.42em 0 0;
}

.keywordsgws__btn span {
  margin-right: 0.4em;
}

/* KEYWORDS BTN END */

/* SKELETON LOADER  */

.lqswlx__btn__vals {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  margin: 0 5px;
}

.lqswlx__btn__vals.skeletonls {
  display: block;
  height: 1rem;
}

.skeletonls {
  display: inline-block;
  background-color: gray;

  border-radius: 5px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletonls,
.skeletonls * {
  color: transparent !important;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 90%);
  }

  100% {
    background-color: hsl(200, 20%, 97%);
  }
}



.skeletoned span {
  display: inline-block;
  background-color: gray;
  border-radius: 5px;
  min-width: 1rem;
  min-height: 15px;
  margin-top: 5px;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeletoned span,
.skeletoned * {
  color: transparent !important;
}

.skeletoned h3 span {
  min-width: 5rem;
}

.skeletoned .lqswlx__group:nth-child(1) h3 span {
  min-width: 8rem;
  min-height: 18px;
}